.mensagem {
	text-align: center;
	margin: 10px 0;
	line-height: 1.3;
	color: var(--background-secondary-color);
}

.mensagem--verde {
	color: var(--button-secondary-color);
	font-weight: bold;
}

.mensagem--center {
	margin: 0 auto;
	width: 70%;
}

.mensagem--big-margin {
	margin: 40px 0;
}

.dashboard-list__item {
	margin: 50px 0;
	display: block;
}